h2 {
    text-align: center;
    }

    .input-group {
      display: flex;
      align-items: center;
      padding: 5px;
      justify-content: center;
    }
  
 
    .input-group input {
      border: none;
      outline: none;
      flex-grow: 1; 
    }
  

    .input-group button {
      border: none;
      background-color: green;
      color: white;
      padding: 8px 15px;
      cursor: pointer;
      margin-top: -5px;
      font-size: 15px;
    }

    .input-group button:hover {
      background-color: greenyellow;
      color: black;
    }


.table1 {
margin-top: 5%;
}

  table {
    margin: auto;
    width: 70%;
    }
  tr {
   text-align: center;

    }
  th {
  height: 40px;
  border: 2px solid green;
  background: green;
  }
  td {
  width: 25%;
  padding: 25px;
  border: 2px solid black;
  }
  button {
  margin: 5px;
  padding: 8px;
  }

